<div class="mycontainer">
  <header class="header">
    <img src="/images/logo.jpg" alt="">
    <h1>Coforge Limited</h1>
  </header>

  <nav class="mynav">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/emp">Employees</a></li>
      <li><a routerLink="/pipes">Pipes</a></li>

<!--Contact DropDown Menu-->
<li class="dropdown"><span>Forms</span>
  <Ul class="dropdown-menu">
    <li><a routerLink="/form">Template Form</a></li>
    <li><a routerLink="/trainee">Two Way Data Binding</a></li>
    <li><a routerLink="/auth">Reactive Form</a></li>

  </Ul>
</li> 
<li><a routerLink="/team">Team</a></li>

      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/login">Log In</a></li> 
      <li><a routerLink="/parent">Communication</a></li> 

      
         
 
    </ul>
  </nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  <footer class="myfooter">
    <p>&copy; 2024 Coforge Ltd.</p>
  </footer>
</div>